body {
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
    background: url(/images/bg-header-desktop.png) no-repeat;
    background-size: contain;
}

/*ACCESSIBLITY*/
sr-only{
    position: absolute;
    left: -999em;
}


/*Container*/

.container-fluid{
    padding: 10% 8% 3%;
}

/*Heading*/

.big-heading{
    font-weight: 700;
    font-size: 2.5rem;
    color: hsl(210, 10%, 33%);
}

/*DOWNLOAD*/
.download-button{
    border-radius: 22.5rem;
    margin: 10px 5px;
}
.ios{
    background-color: hsl(171, 66%, 44%);
}

.mac{
    background-color: hsl(233, 100%, 69%);
}

/*Sections*/

.section{
    margin-bottom: 4rem;
}

.section-heading{
    color: hsl(210, 10%, 33%);
    font-weight: 600;
    margin-bottom: 1rem;
}


.paragraph{
    color: hsl(201, 11%, 66%);
    width: 52%;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
}

/*Title SEction*/

#title{
    text-align: center;
    padding-bottom:3%;
}

.logo{
    margin: 2rem 0;
}

/*Feature Section*/

.info-para{
    color: hsl(201, 11%, 66%);
    line-height: 2;
}

.feature-img{
    position: relative;
    right: 250px
}

/*INFO*/

.feature-info{
    text-align: left;
    padding-left: 0;
    padding-bottom: 1rem;
    padding-right: 40%
}

.info-heading{
    font-weight: 600;
    color: hsl(210, 10%, 33%);
}

.info-icon{
    width: 3rem;
    height: 3rem;
    margin: 3%;
}

/*COMPANY*/
.company{
    padding-bottom: 2rem;
}

/*FOOTER*/

.footer-div{
    padding: 2% 8%;
}

.footer-logo{
    width: 40%;
    padding: 3rem;
}

.footer-link{
    text-decoration: none;
    color: hsl(201, 11%, 66%);
}
.footer-link:hover{
    color: hsl(171, 66%, 44%);
}

.social-link{
    text-decoration: none;  
    color: hsl(210, 10%, 33%);
    margin-top: 1rem;
}

.social-link:hover{
    color: hsl(171, 66%, 44%);
}

/*Media Query Section*/

@media (max-width: 600px){
    
    body{
        background: url(/images/bg-header-mobile.png) no-repeat;
        background-size: contain;
    }
    
    .paragraph{
        width: 85%;
    }
    
    .feature-img{
        position: static;
        width: 60%;
    }
    .feature-info{
        text-align: center;
        padding: 5%;
    }
}


.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}




